/* 'Ping pong animation' css*/
.ppsticksBorder {
    border-radius: 20px;
}

.ppstickMarg {
    margin-right: calc(50% - 0.75rem);
}

@keyframes leftPPMoveAnim {
    0%,
    20%,
    40%,
    55%,
    100% {
        transform: translateY(0);
    }
    5%,
    15%,
    35%,
    70% {
        transform: translateY(90%);
    }
    42% {
        transform: translateY(40%);
    }
    45%,
    50% {
        transform: translateY(80%);
    }
    76%,
    80% {
        transform: translateY(100%);
    }
}

.leftPPStickAnim {
    animation: leftPPMoveAnim 10s linear infinite;
}

@keyframes rightPPMoveAnim {
    0%,
    100% {
        transform: translateY(100%);
    }
    10% {
        transform: translateY(0);
    }
    20%,
    25% {
        transform: translateY(90%);
    }
    35%,
    50% {
        transform: translateY(0);
    }
    55%,
    60% {
        transform: translateY(50%);
    }
    65% {
        transform: translateY(100%);
    }
}

.rightPPStickAnim {
    animation: rightPPMoveAnim 10s linear infinite;
}

@keyframes ppBrainMoveAnim {
    /* X max -> 800% ; Y max -> 200% */
    0%,
    100% {
        transform: translate(0, 0);
    }
    6.25%,
    93.75% {
        transform: translate(300%, 200%);
    }
    12.5%,
    87.5% {
        transform: translate(600%, 0);
    }
    16.67%,
    83.33% {
        transform: translate(800%, 133.33%);
    }
    18.75%,
    81.25% {
        transform: translate(700%, 200%);
    }
    25%,
    75% {
        transform: translate(400%, 0);
    }
    31.25%,
    68.75% {
        transform: translate(100%, 200%);
    }
    33.33%,
    66.67% {
        transform: translate(0%, 133.33%);
    }
    37.5%,
    62.5% {
        transform: translate(200%, 0);
    }
    43.75%,
    56.25% {
        transform: translate(500%, 200%);
    }
    50% {
        transform: translate(800%, 0);
    }
}

.ppBrainAnim {
    animation: ppBrainMoveAnim 10s linear infinite;
}
