/* EvilPopS txt props */
.evilpopsTxtFont {
    font-family: cursive;
    background: -webkit-linear-gradient(
        -225deg,
        #0bda2d,
        #0f6d07,
        #0bda2d,
        #0f6d07,
        #0bda2d
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CV Card title animations */
@keyframes moveTxtBackAndForth {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100% - 8.33rem));
    }
}

.movingText {
    animation: moveTxtBackAndForth 3s linear infinite;
}
