/* EvilPopS txt props */
.evilpopsTxtFont {
    font-family: cursive;
    background: -webkit-linear-gradient(
        -225deg,
        #0bda2d,
        #0f6d07,
        #0bda2d,
        #0f6d07,
        #0bda2d
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
